@tailwind base;
@tailwind components;
@tailwind utilities;


section.hero{
    @apply block md:grid;
    grid-template-columns: .4f,.6frr;
}
select,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
    @apply block w-full my-2 rounded-xl;
    @apply block border p-2 border-gray-300 bg-gray-200;
}

input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
    @apply bg-gray-300 cursor-not-allowed;
}
label{
    @apply text-gray-500 text-sm leading-tight;
}
label + input{
    margin-top: -2px;
}

button, .button{
    @apply flex w-full justify-center gap-2 text-gray-700 font-semibold;
    @apply border border-gray-700 rounded-xl px-6 py-2;
}
button[type="submit"], .submit, button.primary{
    @apply border-0 bg-secondary text-white;
}

button[type="submit"]:disabled, .submit:disabled{
    @apply cursor-not-allowed bg-green-500;
}

div.tabs > * {
    @apply bg-gray-300 text-gray-700 rounded-full py-2 px-4;
}

div.tabs > *.active{
    @apply bg-primary text-white;
}
.flying-button-parent button{
    @apply border-primary bg-primary text-white rounded-full;
}